<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  {% seo %}
</head>
<body>
    <div class="container-logo">
    <header class="masthead">
        <h1 class="masthead-title">
        <div class="fss_logo"></div>
        </h1>
        <!--<nav class="masthead-nav">
            {% for nav in site.nav %}
            <a href="{{ nav.href }}">{{ nav.name }}</a>
            {% endfor %}
        </nav>-->
    </header>
    </div>

  <div class="container">
    {{ content }}
  </div>
</body>
</html>
